/*https://coolors.co/b80c09-f0a202-f18805-202c59-080705*/
:root {
  --engineering-orange: #b80c09;
  --gamboge: #f0a202;
  --tangerine: #f18805;
  --space-cadet: #202c59;
  --black: #080705;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/******* General Changes ***************/
a {
  text-decoration: none;
  color: #000000;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
label {
  font-family: 'Contrail One', Verdana, Geneva, Tahoma, sans-serif;
}

p,
a,
li,
span {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

/******* Styles for header ***************/
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 1rem 1rem;
}

#brand {
  font-size: 2rem;
  font-family: 'Contrail One', Arial, Helvetica, sans-serif;
}

#tools {
  font-family: 'Contrail One', Arial, Helvetica, sans-serif;
}

/******* Styles for navigation bar ***************/
nav {
  background-color: var(--engineering-orange);
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
}

nav ul li a {
  font-weight: 500;
  color: #ffffff;

}

/******* Styles for body ***************/
.card {
  position: relative;
}

.container-detail {
  position: absolute;
  top: 30px;
}

img {
  max-width: 500px;
  width: 100%;
}

.detail-car {
  z-index: 3;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.detail-car ul {

  margin: 0.5rem 0;
}

.background-color {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--gamboge);
  opacity: 0.1;
  position: absolute;
}

.btn {
  display: inline-block;
  background-color: var(--space-cadet);
  color: #ffffff;
  padding: 0.6rem 1rem;
  z-index: 2;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  padding: 1rem;
  align-items: center;
  row-gap: 1.5rem;
}

#inv-display li {
  max-width: 300px;
}

#inv-display li img {
  height: 200px;
}

/* .namePrice {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.namePrice hr {
  width: 100%;
  background-color: var(--engineering-orange);
  height: 0.5rem;
  grid-row: 1;
  grid-column: span 3;
}

.namePrice a {
  grid-row: 2;
  grid-column: span 2;
}

.namePrice span {
  grid-row: 2;
  grid-column: 3;
} */

#reviews {
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
}

#reviews ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  list-style: disc;
  gap: 0.5rem;
}

#reviews ul li {
  font-size: 1.1rem;
}

#upgrades {
  display: flex;
  flex-direction: column;
}

#upgrades div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0.3rem;
}

#upgrades article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upgrades article div {
  min-height: 50px;
  height: 100%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  background-color: var(--tangerine);
  width: 100%;
  border: solid 2px var(--black);

}

#upgrades article a {
  font-size: 1.2rem;
  color: var(--engineering-orange);
  text-decoration: underline;
}

#upgrades article div img {
  width: auto;
  object-fit: none;
}

#detail-title {
  margin-top: 1rem;
}

#detail-vehicle {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

#detail-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#detail-info p span {
  font-weight: bold;
}

#detail-highlight {
  padding: 1rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#detail-other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  padding-top: 0.5rem;
}

#detail-price {
  font-size: 2rem;
  font-family: 'Contrail One', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--tangerine);
}

#management-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#management-options a {
  color: var(--space-cadet);
  text-decoration: underline;
}

.login-signup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.login-signup a {
  text-decoration: underline;
}

.form-group {
  display: flex;
  flex-direction: column;
}

form {
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 1px 1px var(--black);
}

input[type='submit'] {
  border: solid;
  padding: 0.5rem;
  color: #ffffff;
  background-color: var(--gamboge);
}

input:required:invalid,
input:focus:invalid {
  color: var(--engineering-orange);
}

input:required:valid {
  color: var(--space-cadet);
}

#inventoryDisplay tbody tr {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;

}

#inventoryDisplay tbody tr td a {
  color: #202c59;
  text-decoration: underline;
}

#inventoryDisplay tbody tr:nth-last-child() {
  color: var(--engineering-orange);
}

thead tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}


tbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

thead tr th {
  font-family: 'Contrail One', Verdana, Geneva, Tahoma, sans-serif;
}

tbody tr td {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  text-align: center;
}

.repairOptions {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  font-weight: 600;
  color: var(--space-cadet);
  padding: 1rem;
  /*background-color: var(--space-cadet);*/
}