<h1>
    <%= title %>
</h1>
<div class="repairOptions">
    <a class="" href="repair/add">Add Repair</a>
</div>
<div class="repairTable">
    <div class="repairHead">
        <ul>
            <li>Vehicle Name</li>
            <li>Description</li>
            <li>Date</li>
            <li>Cost</li>
        </ul>
    </div>
    <ul class="repairBody">
        <%-vehicles%>
    </ul>

</div>